<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Jadwal Penerbangan Osaka</h1>
        <table id="flightTable">
            <thead>
                <tr>
                    <th>Nama Pesawat</th>
                    <th>Tujuan Keberangkatan</th>
                    <th>Waktu Keberangkatan</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button>Tambah Penerbangan</button>
    </div>
</body>
</html>
